/* root untuk tema */
:root{
    --primary-color: #000000;
    --secondary-color: #a8d0e6;
    --background-color: aqua;
    --background-image: url(suny.jpg);
    --text-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* backgruond */
body {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* header */
.header {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    border-width: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 10 px 20px rgba(29, 28, 28, 0.466);
}

.header h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.header p {
    font-size: 1em;
}

/* formulir */
.attendance-form {
    background-color: rgba(255, 255, 255, 0.575);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600%;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 10px 11px #000000fb;
}